<%= link_to image_tag("furima-logo-color.png", class:"furima-iconn"), "/" %>
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="profile">
   <p><%= @nickname %>のプロフィール</p>
  
   <%if @profile%>
     <div class="profile_text"><p>~自己紹介文~</p>
     <%= @profile.text%>
     </div>
   <%end%>  
    <p>出品商品</p>
  </div>
  <div class="profile_itemm">
   <% @items.each do |item| %>
       <li class='listt'>
         <%= link_to item_path(item.id) do %>
           <div class='item-img-contentt'>
             <%= image_tag item.image, class: "item-img" %>
           </div>
         <% end %>
       </li>
    <% end %>
      </div>
  </div>


   <div class="bottuns">
     <% if user_signed_in? && current_user.id == @user.id %>
     <%= link_to "ユーザー情報編集へ", edit_user_path(@user.id), class: "card_pass"%>
     <%end%>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout_pass"%>
     <div class="top__pass">
     <%= link_to "トップページへ戻る", root_path, class: "top_pass" %>
     </div>
    </div>